* {
  box-sizing: border-box;
}
/* header */
header {
  width: 100%;
  height: 92px;
  background-color: #cf2b2b;
  font-family: "Righteous", cursive;
  font-weight: 400;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.app-name {
  color: #ffffff;
  font-size: 44px;
  line-height: 55px;
  margin-left: 19px;
}
.slogan {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  margin-left: 19px;
}

/* content */
.background {
  background-color: #e5e5e5;
  height: 100%;
  padding-top: 92px;
  padding-bottom: 122px;
}
section {
  overflow-x: scroll;
}
.options-box {
  font-family: "Roboto", sans-serif;
  display: flex;
}
.title-categories {
  font-family: "Righteous", cursive;
  font-weight: 400;
  padding-top: 31px;
  padding-bottom: 17px;
  padding-left: 19px;
  font-size: 26px;
  color: #333333;
}
.info-food {
  width: fit-content;
  height: 216px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 19px;
  margin-left: 19px;
  position: relative;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.35);
}
.info-food ion-icon {
  display: none;
}

.selected {
  border: 5px solid #32b72f;
}
.selected ion-icon {
  color: #32b72f;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 20px;
}

.info-food img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}
.title-food {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  width: 144px;
  margin: 8px 0;
}
.description-food {
  height: 40px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #a6a6a6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 144px;
}
.price {
  position: absolute;
  left: 19px;
  bottom: 10px;
}

/* tela de confirmação */
.fixed {
  position: fixed;
}
.transparent {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 1;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
.confirmation {
  width: 377px;
  height: 353px;
  background-color: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmation p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.info p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.title-confirmation {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
}
.info {
  display: flex;
  width: 300px;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 140px;
}
.info p {
  margin: 10px 0;
}
.names {
  /* margin-right: 40px; */
}
.total {
  font-weight: bold;
}
.right {
  position: absolute;
  background-color: #ffffff;
  bottom: 75px;
  border: 0;
  border-radius: 50px;
  width: 80%;
  height: 50px;
}
.right a {
  text-decoration: none;
}
.right p {
  color: #50d074;
}
.wrong {
  position: absolute;
  bottom: 10px;
  background-color: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 50px;
  width: 80%;
  height: 50px;
}
/* footer */
footer {
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer button {
  width: 364px;
  height: 61px;
  background: #cbcbcb;
  border-radius: 50px;
  border: 0;
}

footer button p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.018em;
  color: #ffffff;
}
.activate {
  background-color: #32b72f;
}
